In [1]:
# IMPORTS
import pandas as pd
import numpy as np
#import matplotlib as mpl

<h1>PREPROCESS ALL ARC COUNTS TABLE</h1>

In [2]:
# READ-IN ARC COUNT DATAFRAME
filename = 'data/MEBL3/MEBL3_All Arc Counts-data-as-joinbyfield-2024-07-01 10_16_54.csv'
arc_count_df = pd.read_csv(filename, parse_dates=['Time'])    
print(f"{filename} : file read into a pandas dataframe.")

data/MEBL3/MEBL3_All Arc Counts-data-as-joinbyfield-2024-07-01 10_16_54.csv : file read into a pandas dataframe.

In [3]:
# DROP PRESSURE COLUMNS (STORED SEPARATELY)
arc_count_df2 = arc_count_df.drop(arc_count_df.columns[1:3], axis=1)
print(f"{len(arc_count_df.columns)} Columns")
arc_count_df2

66 Columns

,Time,"{B2 Arc Count=""Beam Blanker""}","{B2 Arc Count=""Bias""}","{B2 Arc Count=""Extractor""}","{B2 Arc Count=""Filament""}","{B2 Arc Count=""Gun Lens""}","{B2 Arc Count=""Main Lens""}","{B2 Arc Count=""Suppressor""}","{B3 Arc Count=""Beam Blanker""}","{B3 Arc Count=""Bias""}",...,"{D3 Arc Count=""Gun Lens""}","{D3 Arc Count=""Main Lens""}","{D3 Arc Count=""Suppressor""}","{D4 Arc Count=""Beam Blanker""}","{D4 Arc Count=""Bias""}","{D4 Arc Count=""Extractor""}","{D4 Arc Count=""Filament""}","{D4 Arc Count=""Gun Lens""}","{D4 Arc Count=""Main Lens""}","{D4 Arc Count=""Suppressor""}"
0,2024-06-14 01:55:12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-06-14 01:55:13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-06-14 01:55:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-06-14 01:55:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-06-14 01:55:16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1060403,2024-06-27 23:59:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060404,2024-06-27 23:59:55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060405,2024-06-27 23:59:56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060406,2024-06-27 23:59:57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060407,2024-06-27 23:59:58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# USE REGEX TO REPLACE QUERY FORMATTED VARIABLE NAMES WITH SYSTEM COLUMN AND COLUMN COMPONENT
## only need to run once
import re
arc_count_df3 = arc_count_df2
arc_count_vars = arc_count_df3.columns
#print(arc_count_vars)
arc_count_vars = list(arc_count_vars)
for i in range(len(arc_count_vars)):
    pattern = r'\{([B-D]{1}[2-4]{1}) Arc Count=\"(.*)\"\}'
    try:
        match = re.findall(pattern, arc_count_vars[i])
        replacement = match[0][0] + ' ' + match[0][1]
        #print(replacement)
        arc_count_vars[i] = replacement
    except:
        print(f"No match for {arc_count_vars[i]}")
arc_count_df3.columns = arc_count_vars

No match for Time

In [5]:
# CONVERT "Time" VARIABLE FROM STRING TO DATETIME OBJECT
arc_count_df4 = arc_count_df3
arc_count_df4['Time'] = pd.to_datetime(arc_count_df4['Time'])
arc_count_df4

,Time,B2 Beam Blanker,B2 Bias,B2 Extractor,B2 Filament,B2 Gun Lens,B2 Main Lens,B2 Suppressor,B3 Beam Blanker,B3 Bias,...,D3 Gun Lens,D3 Main Lens,D3 Suppressor,D4 Beam Blanker,D4 Bias,D4 Extractor,D4 Filament,D4 Gun Lens,D4 Main Lens,D4 Suppressor
0,2024-06-14 01:55:12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-06-14 01:55:13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-06-14 01:55:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-06-14 01:55:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-06-14 01:55:16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1060403,2024-06-27 23:59:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060404,2024-06-27 23:59:55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060405,2024-06-27 23:59:56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060406,2024-06-27 23:59:57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060407,2024-06-27 23:59:58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# WRTIE PREPROCESSED ARC COUNT DATAFRAME TO CSV
arc_count_df4.to_csv('data/MEBL3/MEBL3_All_Arc_Counts_Clean', index = False)

<h1>PREPROCESS BIAS ALL DATA TABLE</h1>

In [7]:
# READ-IN BIAS ALL DATAFRAME
filename = 'data/MEBL3/MEBL3_Bias All-data-2024-06-28 09_38_26.csv'
bias_all_df = pd.read_csv(filename)    
print(f"{filename} : file read into a pandas dataframe.")

data/MEBL3/MEBL3_Bias All-data-2024-06-28 09_38_26.csv : file read into a pandas dataframe.

In [8]:
bias_all_df ### SHOULD I TURN NaN INTO 0?

,Time,B2 Bias,B3 Bias,B4 Bias,C2 Bias,C3 Bias,C4 Bias,D2 Bias,D3 Bias,D4 Bias
0,2024-06-14 01:55:12,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-06-14 01:55:13,NaN,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN
2,2024-06-14 01:55:14,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3,2024-06-14 01:55:15,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-06-14 01:55:16,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...
1059403,2024-06-27 23:59:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.081
1059404,2024-06-27 23:59:55,0.038,NaN,NaN,NaN,NaN,0.194,NaN,0.031,0.075
1059405,2024-06-27 23:59:56,NaN,NaN,NaN,0.044,NaN,NaN,NaN,0.038,NaN
1059406,2024-06-27 23:59:57,NaN,NaN,0.019,0.038,NaN,0.188,NaN,0.031,0.081
1059407,2024-06-27 23:59:58,0.031,NaN,0.025,0.044,NaN,NaN,NaN,0.038,0.075

In [9]:
# CONVERT "Time" VARIABLE FROM STRING TO DATETIME OBJECT
bias_all_df2 = bias_all_df
bias_all_df2['Time'] = pd.to_datetime(bias_all_df2['Time'])
bias_all_df2

,Time,B2 Bias,B3 Bias,B4 Bias,C2 Bias,C3 Bias,C4 Bias,D2 Bias,D3 Bias,D4 Bias
0,2024-06-14 01:55:12,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-06-14 01:55:13,NaN,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN
2,2024-06-14 01:55:14,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3,2024-06-14 01:55:15,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-06-14 01:55:16,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...
1059403,2024-06-27 23:59:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.081
1059404,2024-06-27 23:59:55,0.038,NaN,NaN,NaN,NaN,0.194,NaN,0.031,0.075
1059405,2024-06-27 23:59:56,NaN,NaN,NaN,0.044,NaN,NaN,NaN,0.038,NaN
1059406,2024-06-27 23:59:57,NaN,NaN,0.019,0.038,NaN,0.188,NaN,0.031,0.081
1059407,2024-06-27 23:59:58,0.031,NaN,0.025,0.044,NaN,NaN,NaN,0.038,0.075

In [10]:
# WRTIE PREPROCESSED BIAS ALL DATAFRAME TO CSV
bias_all_df2.to_csv('data/MEBL3/MEBL3_Bias_All_Data_Clean', index = False)

<h1>PREPROCESS PRESSURE DATA TABLE</h1>

In [11]:
# READ-IN PRESSURE DATA DATAFRAME
filename = 'data/MEBL3/MEBL3_Pressure-data-2024-06-28 09_40_08.csv'
pressure_df = pd.read_csv(filename)    
print(f"{filename} : file read into a pandas dataframe.")

data/MEBL3/MEBL3_Pressure-data-2024-06-28 09_40_08.csv : file read into a pandas dataframe.

In [12]:
pressure_df ### SHOULD I TURN NaN INTO 0? SHOULD I PUT PRESSURE MEASUREMENTS IN DIFFERENT UNIT/SCALE?

                        Time  Chamber Pressure  Column Pressure
0        2024-06-14 01:55:29      1.850000e-07     5.550000e-10
1        2024-06-14 01:55:30      1.840000e-07     5.670000e-10
2        2024-06-14 01:55:31      1.830000e-07     5.540000e-10
3        2024-06-14 01:55:32      1.800000e-07     5.610000e-10
4        2024-06-14 01:55:33      1.810000e-07     5.490000e-10
...                      ...               ...              ...
1059524  2024-06-27 23:59:54      1.650000e-07     3.380000e-10
1059525  2024-06-27 23:59:55      1.630000e-07     3.370000e-10
1059526  2024-06-27 23:59:56      1.640000e-07     3.410000e-10
1059527  2024-06-27 23:59:57      1.650000e-07     3.380000e-10
1059528  2024-06-27 23:59:58      1.640000e-07     3.400000e-10

[1059529 rows x 3 columns]

In [13]:
# CONVERT "Time" VARIABLE FROM STRING TO DATETIME OBJECT
pressure_df2 = pressure_df
pressure_df2['Time'] = pd.to_datetime(pressure_df2['Time'])
pressure_df2

                       Time  Chamber Pressure  Column Pressure
0       2024-06-14 01:55:29      1.850000e-07     5.550000e-10
1       2024-06-14 01:55:30      1.840000e-07     5.670000e-10
2       2024-06-14 01:55:31      1.830000e-07     5.540000e-10
3       2024-06-14 01:55:32      1.800000e-07     5.610000e-10
4       2024-06-14 01:55:33      1.810000e-07     5.490000e-10
...                     ...               ...              ...
1059524 2024-06-27 23:59:54      1.650000e-07     3.380000e-10
1059525 2024-06-27 23:59:55      1.630000e-07     3.370000e-10
1059526 2024-06-27 23:59:56      1.640000e-07     3.410000e-10
1059527 2024-06-27 23:59:57      1.650000e-07     3.380000e-10
1059528 2024-06-27 23:59:58      1.640000e-07     3.400000e-10

[1059529 rows x 3 columns]

In [14]:
# WRTIE PREPROCESSED PRESSURE DATAFRAME TO CSV
pressure_df2.to_csv('data/MEBL3/MEBL3_Pressure_Data_Clean', index = False)